---
import Layout from '~/layouts/Layout.astro';
import Header from '~/components/widgets/Header.astro';
import Footer from '~/components/widgets/Footer.astro';

import { ctaLink, headerData, footerData } from '~/navigation';

import type { MetaData } from '~/types';

export interface Props {
  metadata?: MetaData;
}

const { metadata } = Astro.props;
---

<Layout metadata={metadata}>
  <Header
    id="header"
    links={headerData.links}
    actions={[
      {
        variant: 'primary',
        icon: 'tabler:click',
        text: 'Let\'s Work Together',
        href: ctaLink.href
      },
    ]}
    showToggleTheme
  />
  <main>
    <slot />
  </main>
  <slot name="footer">
    <Footer {...footerData} />
  </slot>
</Layout>
